* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(245, 14, 110, 0.445);
  position: fixed;
  z-index: 99;
}

.cursor-blr {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: rgba(245, 14, 110, 0.263);
  position: fixed;
  z-index: 1;
  filter: blur(40px);
}

.nav {
  width: 100%;
  height: 80px;
  display: flex;
  gap: 55px;
  padding: 0 10px;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
  position: fixed;
  z-index: 1000;
  font-family: 'montserrat';
  overflow: hidden;



}

.nav img {
  height: 70px;
}

.nav h4 {
  text-transform: uppercase;
  /* font-weight: 100; */
  font-size: 14px;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.main {
  position: relative;
  background-color: rgba(8, 8, 8, 0.409);


}

.page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.page1 h1 {
  font-size: 78px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  /* z-index: 1;   */

}

.page1 h1::before {
  content: "wear.care.and tear";
  color: black;
  text-transform: uppercase;
  position: absolute;
  top: -4px;
  left: -4px;
  color: rgba(10, 10, 10);
  z-index: -1;
  -webkit-text-stroke: 2px rgba(245, 14, 110, 0.432);
}


.page1 h2 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;

}

.page2 {
  min-height: 100vh;
  z-index: 10;
}

.scroller {
  border-color: red;
  /* white-space: nowrap; */
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scroller1 h4 {
  display: inline-block;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgba(237, 226, 231, 0.612);
  color: transparent;
  font-family: 'Rubik Mono One', sans-serif;
  transition: all linear 0.5s;
}

.scroller h4:hover {
  color: rgba(245, 14, 110, 0.966);
  -webkit-text-stroke: 2px rgba(245, 14, 110, 0.966);
}

.scroller1 {
  white-space: nowrap;
  animation: scroll 70s linear 0.2s infinite;

}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-800%);
  }

}

.abt-us {
  padding-top: 10px;
  text-align: center;
  height: 45vh;
  width: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* white-space: nowrap; */
  overflow: hidden;
  position: relative;
  z-index: 10;



}

.abt-us img {
  height: 160px;
  width: 160px;
  border-radius: 40px;
}

.about h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Kanit', sans-serif;
  margin-top: 3px;
  margin-bottom: 10px;

}

.about {
  height: 100%;
  width: 70%;
  z-index: 101;
  padding: 10px 12px;



}

.about p {
  font-size: 16px;
  font-weight: 100;
  line-height: 32px;
  text-align: center;

  z-index: 101;
  text-transform: uppercase;

}

.about p:hover {
  color: rgba(245, 14, 110, 0.966);
  transition: all linear 0.2s;
  cursor: pointer;

}

.container {
  min-height: 60vh;
  /* background-color: #0c0c0cf6; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  z-index: 10;

}

.cards {
  height: 52vh;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* z-index: 10; */


}

#c1 {
  background-image: url("c1.jpg");
}

#c2 {
  background-image: url("c2.avif");
}

#c3 {
  background-image: url("c3.jpg");
}


.cls {
  background-color: rgba(245, 14, 110, 0.966);
  height: 100%;
  width: 100%;
  padding: 23px;
  padding-top: 70px;
  overflow: hidden;
  z-index: 100;
  position: relative;
  opacity: 0;
  transition: all ease 0.3s;


}

.cls p {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: black;
  line-height: 20px;
  text-align: justify;

}

.cls h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 17px;

}

.cards:hover .cls {
  opacity: 1;
}

.cls:hover {
  transform: rotate3d(1, 1, 0, 25deg);

}

.dots {
  height: 30vh;
  width: 100%;
  background: linear-gradient(to right bottom, rgba(235, 144, 177, 0.895), rgba(250, 7, 96, 0.904));
  padding: 5px;
  display: flex;
  justify-content: space-between;
  /* padding-left: 30px; */

}

.dots img {
  height: 100%;
  width: 15%;
  object-fit: cover;
  /* color: #bc5656; */
}

.dots h4 {
  font-size: 18px;
  width: 45%;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  align-self: center;

}

.page3 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page3 img {
  height: 80px;

}

.page3 h4 {
  width: 55%;
  text-transform: uppercase;
  line-height: 36px;
  text-align: justify;
}

.imgg1 {
  position: absolute;
  top: 20%;
  left: 10%;
}

.imgg2 {
  position: absolute;
  bottom: 20%;
  right: 10%;
}

.page4 {
  height: 32vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
   align-items: center;
   gap: 70px;
   position: relative;
  


}
.page4 h2{
  position: absolute;
  top: -16px;
  color: red;
  height: 40px;
  font-family: "gillroy";
  font-size: 58px;
  font-weight: 900;
  -webkit-text-stroke: 1px rgba(234, 14, 84, 0.986);
  color: transparent;
  
}

.page4 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition:all ease 0.2s ;
  scale: 1.1;
}

.page4 .element {
  height: 70%;
  width: 22%;
  overflow: hidden;
  position: relative;
  /* background-color: yellow; */
  z-index: 100;
  border-radius: 5px
}
.element h4{
  position: absolute;
   height: 100%;
  width: 100%; 
    background-color:rgba(245, 14, 110, 0.966) ;
    color: rgb(253, 248, 248);  
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 22px;
  transition: all ease 0.5s;
  z-index: 1;

}
.element:hover h4 
{  background-color:transparent;
  color: rgb(231, 19, 82);
}

.element:hover img{
  scale: 1;

}
 
.footer{
  margin-top: 20px;
  padding: 10px 25px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px
 
  
}
.footer .foot h3{
  border-bottom: 2px solid rgb(216, 55, 82);
  text-transform: uppercase;
  font-size: 20px;
}
.footer .foot h4{margin-top: 20px;
  font-weight: 600;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.lastt{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
 

}

.lastt h4{
  font-weight: 500;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: rgb(70, 68, 65);
}


@media (max-width:600px) {
.nav{
  width: 100vw;
  height: 30px;}

  body{ width: 100%;
    height: 100%;}
    .footer{
      width: 100%;
      flex-wrap: wrap
    }
    .main{
      width: 100%;
      height: 100;
    }

}